@use "vars";
@use "funcs";
@use "sass:list";
@use "reset";

:root {
  @each $name, $size in vars.$fs-ramp {
    #{funcs.$var-prefix}-fs-#{$name}: $size;
  }

  @each $name, $size in vars.$lh-ramp {
    #{funcs.$var-prefix}-lh-#{$name}: $size;
  }

  @each $name, $size in vars.$spacing-ramp {
    #{funcs.$var-prefix}-space-#{$name}: $size;
  }

  @each $name, $radius in vars.$radius-ramp {
    #{funcs.$var-prefix}-radius-#{$name}: $radius;
  }

  @each $name, $shadow in vars.$shadows {
    #{funcs.$var-prefix}-shadow-#{$name}: $shadow;
  }

  --tiny-c-border: rgb(var(--tiny-rgb-neutral-5) / 0.5);
  --tiny-c-text: rgb(var(--tiny-rgb-neutral-9) / 0.9);
  --tiny-c-text-heading: rgb(var(--tiny-rgb-neutral-9));
  --tiny-c-text-label: rgb(var(--tiny-rgb-neutral-9) / 0.7);
  --tiny-c-text-description: rgb(var(--tiny-rgb-neutral-9) / 0.5);
  --tiny-c-text-disabled: rgb(var(--tiny-rgb-neutral-9) / 0.3);

  --tiny-c-white: #fff;
  --tiny-c-black: #000;

  --tiny-ff:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --tiny-ff-mono: "SF Mono", "Segoe UI Mono", "Roboto Mono", "Ubuntu Mono", Menlo, Courier, monospace;
}
