.tiny-reset,
.tiny-reset-button,
.tiny-reset-input,
.tiny-reset-textarea {
    padding: 0;
    margin: 0;
    font-variation-settings: inherit;
    font-weight: inherit;
    font-feature-settings: inherit;
    line-height: inherit;
    color: inherit;
    outline: none;
    background: none;
    border: none;
    box-sizing: border-box;

    &::after,
    &::before {
        box-sizing: border-box;
    }

    font-size: var(--tiny-fs-sm);
    font-family: var(--tiny-ff);

    &:focus {
        outline: none;
    }

    &[type="search"] {
        appearance: textfield;
        outline-offset: -2px;
    }
}

.tiny-reset-button,
.tiny-reset-input {
    appearance: auto;
    background-image: none;
}

.tiny-reset-input::-ms-reveal {
    display: none;
}

.tiny-reset-input[type="number"] {
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        margin: 0;
        appearance: none;
    }
}
