.tiny-radio-group {
    --radio-gap: var(--tiny-space-sm);
    --circle-size: 16px;
    --dot-size: 8px;
    --radio-font-size: inherit;

    --c-dot: var(--tiny-c-text-label);
    --c-border: var(--tiny-c-border);
    --c-label: var(--tiny-c-text-label);

    &[data-disabled] {
        pointer-events: none;

        --c-dot: var(--tiny-c-text-disabled);
        --c-border: var(--tiny-c-neutral-5);
        --c-label: var(--tiny-c-text-description);
    }
}

.tiny-radio-item {
    display: inline-flex;
    align-items: center;
    gap: var(--radio-gap);
    user-select: none;
    height: 22px;
    width: fit-content;
    vertical-align: middle;
}

.tiny-radio-circle {
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    border: 2px solid var(--c-border);
    display: inline-block;
    position: relative;
    box-sizing: border-box;
}

.tiny-radio-circle::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 50%;
    background: var(--c-dot);
    opacity: 0;
    transition: opacity 120ms ease;
}

.tiny-radio-item[data-checked] .tiny-radio-circle::after {
    opacity: 1;
}

.tiny-radio-label {
    display: inline-block;
    font-size: var(--radio-font-size);
}
