.tiny-input {
    border-width: 1px;
    border-style: solid;
    border-color: var(--tiny-c-border);
    border-radius: var(--tiny-radius-sm);
    padding-left: var(--tiny-space-sm);
    padding-right: var(--tiny-space-sm);
    transition: border-color 150ms;
    width: 100%;

    &:focus-within {
        border-color: rgb(var(--tiny-rgb-brand-5));
    }

    &:hover {
        border-color: rgb(var(--tiny-rgb-brand-5));
    }

    &[data-size="small"] {
        height: 24px;
    }

    &[data-size="medium"] {
        height: 32px;
    }

    &[data-size="large"] {
        height: 40px;
    }

    &[data-disabled] {
        pointer-events: none;
        user-select: none;
        background-color: rgb(var(--tiny-rgb-neutral-2));
        opacity: 0.6;
    }
}
