.tiny-tooltip__content {
    padding: var(--tiny-space-xs);
    box-shadow: var(--tiny-shadow-2);
    background-color: rgb(var(--tiny-rgb-neutral-9));
    color: rgb(var(--tiny-rgb-neutral-0));
    font-size: var(--tiny-fs-xs);
    border-radius: var(--tiny-radius-sm);
}
