.tiny-tooltip__content {
    padding: var(--tiny-space-xs);
    box-shadow: var(--tiny-shadow-2);
    background-color: var(--tiny-c-neutral-9);
    color: var(--tiny-c-neutral-0);
    font-size: var(--tiny-fs-xs);
    border-radius: var(--tiny-radius-sm);
}
