.tiny-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 6px;
    border-radius: 4px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    gap: 4px;

    --height: 32px;
    height: var(--height);
    width: fit-content;

    &[data-icon-placement="end"] {
        flex-direction: row-reverse;
    }

    &[data-size="small"] {
        --height: 24px;
        padding: 0 4px;
    }
    &[data-size="large"] {
        --height: 40px;
        font-size: 16px;
    }

    &[data-rounded] {
        border-radius: calc(var(--height) / 2);
    }

    &[data-icon-only] {
        width: var(--height);
    }

    &[data-color="primary"] {
        --c-main: var(--tiny-c-brand-5);
    }

    &[data-color="secondary"] {
        --c-main: var(--tiny-c-neutral-9);

        &[data-variant="solid"] {
            color: var(--tiny-c-neutral-0);
        }
    }

    &[data-color="link"] {
        --c-main: var(--tiny-c-link);
    }
    &[data-color="danger"] {
        --c-main: var(--tiny-c-danger);
    }
    &[data-color="warning"] {
        --c-main: var(--tiny-c-warning);
    }
    &[data-color="success"] {
        --c-main: var(--tiny-c-success);
    }
    &[data-color="info"] {
        --c-main: var(--tiny-c-info);
    }

    &[data-variant="solid"] {
        color: var(--tiny-c-white);
        .tiny-btn__bg {
            background-color: var(--c-main);
        }
        &:hover {
            opacity: 0.85;
        }
        &:active {
            opacity: 1;
        }
    }

    &[data-variant="outline"] {
        color: var(--c-main);
        border-color: var(--c-main);
        .tiny-btn__bg {
            background-color: var(--c-main);
            opacity: 0;
        }

        &:hover {
            .tiny-btn__bg {
                opacity: 0.1;
            }
        }

        &:active {
            .tiny-btn__bg {
                opacity: 0.2;
            }
        }

        &[data-disabled] {
            .tiny-btn__bg {
                display: none;
            }

            border-color: var(--tiny-c-neutral-5);
        }
    }

    &[data-variant="subtle"] {
        color: var(--c-main);

        .tiny-btn__bg {
            background-color: var(--c-main);
            opacity: 0.2;
        }

        &:hover {
            .tiny-btn__bg {
                opacity: 0.3;
            }
        }

        &:active {
            .tiny-btn__bg {
                opacity: 0.2;
            }
        }
    }

    &[data-variant="text"] {
        color: var(--c-main);

        .tiny-btn__bg {
            background-color: var(--c-main);
            opacity: 0;
        }

        &:hover {
            .tiny-btn__bg {
                opacity: 0.2;
            }
        }

        &:active {
            .tiny-btn__bg {
                opacity: 0.3;
            }
        }

        &[data-disabled] {
            .tiny-btn__bg {
                display: none;
            }

            border-color: transparent;
        }
    }

    &[data-variant="link"] {
        color: var(--c-main);
        padding: 0;

        .tiny-btn__bg {
            opacity: 0;
        }

        &:hover {
            text-decoration: underline;
        }

        &:active {
            opacity: 0.8;
        }

        &[data-disabled] {
            .tiny-btn__bg {
                display: none;
            }

            border-color: transparent;
        }
    }

    &[data-disabled] {
        pointer-events: none;
        opacity: 0.6;
        --c-main: var(--tiny-c-text-disabled);
        border-color: var(--tiny-c-neutral-5);
        color: var(--tiny-c-text-description);

        .tiny-btn__bg {
            opacity: 0.5;
        }
    }
}

.tiny-btn__content {
    position: relative;
}

.tiny-btn__bg {
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    pointer-events: none;
    transition: opacity 0.2s;
}
