.tiny-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 6px;
    border-radius: 4px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    gap: 4px;
    width: fit-content;
    height: var(--height);

    --height: 32px;
    --rgb-on-base: 255 255 255;

    &[data-icon-placement="end"] {
        flex-direction: row-reverse;
    }

    &[data-size="small"] {
        --height: 24px;
        padding: 0 4px;
    }
    &[data-size="large"] {
        --height: 40px;
        font-size: 16px;
    }

    &[data-rounded] {
        border-radius: calc(var(--height) / 2);
    }

    &[data-icon-only] {
        width: var(--height);
    }

    &[data-color="primary"] {
        --rgb-base: var(--tiny-rgb-brand-5);
        --rgb-surface: var(--tiny-rgb-brand-2);
    }

    &[data-color="neutral"] {
        --rgb-base: var(--tiny-rgb-neutral-9);
        --rgb-surface: var(--tiny-rgb-neutral-2);
        --rgb-on-base: var(--tiny-rgb-neutral-0);
    }

    &[data-color="danger"] {
        --rgb-base: var(--tiny-rgb-danger-base);
        --rgb-surface: var(--tiny-rgb-danger-surface);
    }
    &[data-color="warning"] {
        --rgb-base: var(--tiny-rgb-warning-base);
        --rgb-surface: var(--tiny-rgb-warning-surface);
    }
    &[data-color="success"] {
        --rgb-base: var(--tiny-rgb-success-base);
        --rgb-surface: var(--tiny-rgb-success-surface);
    }
    &[data-color="info"] {
        --rgb-base: var(--tiny-rgb-info-base);
        --rgb-surface: var(--tiny-rgb-info-surface);
    }

    &[data-variant="solid"] {
        color: rgb(var(--rgb-on-base));
        background: rgb(var(--rgb-base) / 0.9);

        &:active {
            background: rgb(var(--rgb-base));
        }
    }

    &[data-variant="outline"] {
        color: rgb(var(--rgb-base));
        border-color: rgb(var(--rgb-base) / 0.5);
        --bg-opacity: 0;

        background: rgb(var(--rgb-surface) / var(--bg-opacity));

        &:hover {
            --bg-opacity: 0.1;
        }

        &:active {
            --bg-opacity: 0.2;
        }
    }

    &[data-variant="subtle"] {
        color: rgb(var(--rgb-base));
        --bg-opacity: 0.5;
        background: rgb(var(--rgb-surface) / var(--bg-opacity));

        &:hover {
            --bg-opacity: 0.6;
        }

        &:active {
            --bg-opacity: 0.7;
        }
    }

    &[data-variant="text"] {
        color: rgb(var(--rgb-base));
    }

    &[data-variant="link"] {
        color: rgb(var(--rgb-base));
        padding: 0;

        &:hover {
            text-decoration: underline;
        }

        &:active {
            opacity: 0.9;
        }

        &[data-disabled] {
            border-color: transparent;
        }
    }

    &[data-disabled] {
        pointer-events: none;
        opacity: 0.7;
        --rgb-base: var(--tiny-rgb-neutral-3);
        --rgb-surface: var(--tiny-rgb-neutral-1);
    }
}

.tiny-btn__content {
    position: relative;
}
