.tiny-progress-line-rail {
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
}

.tiny-progress-line-fill {
  border-radius: 8px;
  transition: width 0.15s ease;
}

.tiny-progress-line-fill[data-indeterminate] {
  position: relative;
  opacity: 0.7;
  animation: ani-slide-loading 1.5s infinite linear;
}

@keyframes ani-slide-loading {
  0% {
    inset-inline-start: -45%;
  }

  100% {
    inset-inline-start: 100%;
  }
}
