.tiny-state-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.tiny-state-btn__loader {
    position: absolute;
    inset: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}

[data-loading] .tiny-state-btn__loader {
    opacity: 1;
}

[data-loading] .tiny-btn__content,
[data-loading] .tiny-btn__icon {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.tiny-state-btn[data-loading] > button {
    pointer-events: none;
    user-select: none;
    opacity: 0.6;
}
