.tiny-checkbox {
    display: inline-flex;
    align-items: center;
    user-select: none;
    height: 22px;
    justify-content: center;
    width: fit-content;
    gap: var(--tiny-space-sm);

    --c-checked: var(--tiny-c-neutral-9);
    --c-indicator: var(--tiny-c-white);
    --c-label: var(--tiny-c-text);

    &[data-disabled] {
        pointer-events: none;

        --c-checked: var(--tiny-c-neutral-5);
        --c-indicator: var(--tiny-c-text-disabled);
        --c-label: var(--tiny-c-text-description);

        .tiny-checkbox-box:not([data-checked]) {
            background-color: var(--tiny-c-neutral-2);
        }
    }

    &[data-checked] .tiny-checkbox-box {
        background-color: var(--c-checked);
        border-color: var(--c-checked);
    }

    &[data-indeterminate] .tiny-checkbox-box {
        background-color: transparent;
        --c-indicator: var(--tiny-c-text);
    }

    &[data-checked],
    &[data-indeterminate] {
        .tiny-checkbox-indicator {
            opacity: 1;
        }
    }
}

.tiny-checkbox-box {
    width: 16px;
    height: 16px;
    border: 2px solid var(--tiny-c-border);
    border-radius: 4px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tiny-checkbox-indicator {
    color: var(--c-indicator);
    opacity: 0;
}

.tiny-checkbox-label {
    color: var(--c-label);
}
