.tiny-toast {
    position: relative;
    max-width: 350px;
    width: fit-content;
    display: flex;
    align-items: center;
    pointer-events: auto;

    animation: toast-in 0.3s ease forwards;

    &[data-status="closing"] {
        animation: toast-out 0.3s ease forwards;
    }
}

@keyframes toast-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes toast-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
