.tiny-toast-wrapper {
    position: relative;
    width: fit-content;
    display: flex;
    pointer-events: auto;
    animation-duration: 250ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    padding-bottom: var(--tiny-space-md);

    &[data-entering] {
        animation-name: toast-wrapper-in-out;

        .tiny-toast {
            animation-name: toast-in-out;
        }
    }

    &[data-exiting] {
        animation-name: toast-wrapper-in-out;
        animation-direction: reverse;

        .tiny-toast {
            animation-name: toast-in-out;
            animation-direction: reverse;
        }
    }
}

.tiny-toast {
    padding: var(--tiny-space-md);
    max-width: 350px;
    min-width: 150px;
    width: fit-content;
    display: flex;
    align-items: center;

    border-radius: var(--tiny-radius-sm);
    box-shadow: var(--tiny-shadow-1);
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    animation-duration: 250ms;

    --c-bg: var(--tiny-c-neutral-0);
    --c-text: var(--tiny-c-white);
    --c-bd: transparent;

    background: var(--c-bg);
    border: 1px solid var(--c-bd);
    color: var(--c-text);

    &[data-type="blank"] {
        --c-bg: var(--tiny-c-neutral-0);
        --c-bd: var(--tiny-c-border);
        --c-text: var(--tiny-c-text);
    }

    &[data-type="success"] {
        --c-bg: var(--tiny-c-success);
    }

    &[data-type="error"] {
        --c-bg: var(--tiny-c-danger);
    }

    &[data-type="warning"] {
        --c-bg: var(--tiny-c-warning);
    }

    &[data-type="info"] {
        --c-bg: var(--tiny-c-info);
    }
}

.dark .tiny-toast {
    &[data-type="blank"] {
        --c-bg: var(--tiny-c-neutral-2);
    }
}

@keyframes toast-wrapper-in-out {
    0% {
        opacity: 0;
        height: 0;
        padding-bottom: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        height: var(--height);
        padding-bottom: var(--tiny-space-md);
    }
}

@keyframes toast-in-out {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
