.tiny-password-input-wrapper {
    position: relative;
    width: 100%;
}

.tiny-password-input {
    border-width: 1px;
    border-style: solid;
    border-color: var(--tiny-c-border);
    border-radius: var(--tiny-radius-sm);
    padding-left: var(--tiny-space-sm);
    padding-right: 40px;
    transition: border-color 150ms;
    width: 100%;

    &:focus-within {
        border-color: rgb(var(--tiny-rgb-brand-5));
    }

    &:hover {
        border-color: rgb(var(--tiny-rgb-brand-5));
    }

    &[data-size="small"] {
        height: 24px;
    }

    &[data-size="medium"] {
        height: 32px;
    }

    &[data-size="large"] {
        height: 40px;
    }

    &[data-disabled] {
        pointer-events: none;
        user-select: none;
        background-color: rgb(var(--tiny-rgb-neutral-1));
        opacity: 0.7;
    }
}

.tiny-password-input-toggle {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(var(--tiny-rgb-neutral-7));
    transition: color 150ms;

    &:hover {
        color: rgb(var(--tiny-rgb-brand-5));
    }

    &[data-disabled] {
        pointer-events: none;
        opacity: 0.5;
        cursor: not-allowed;
    }
}
