.tiny-spinner-indicator {
    stroke: currentColor;
    fill: none;
    stroke-linecap: round;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    transition: 0.2s ease-in-out;
    animation: 2s linear 0s infinite normal none running spin-infinite;
}

@keyframes spin-infinite {
    0% {
        stroke-dasharray: 0.01px, var(--circumference-value);
        transform: rotate(0deg);
    }
    50% {
        stroke-dasharray: calc(var(--circumference-value) / 2), calc(var(--circumference-value) / 2);
        transform: rotate(450deg);
    }
    100% {
        stroke-dasharray: 0.01px, var(--circumference-value);
        transform: rotate(1080deg);
    }
}
