.tiny-input-compact {
    display: inline-flex;
    width: 100%;

    &[data-block] {
        display: flex;
    }
}

.tiny-input-compact .tiny-input-compact__item {
    border-radius: 0;
}

.tiny-input-compact .tiny-input-compact__first {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
}

.tiny-input-compact .tiny-input-compact__last {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
}
