.tiny-modal-helper-vars {
    --header-padding: var(--tiny-space-lg);
    --body-margin: var(--tiny-space-lg);
    --body-padding: var(--tiny-space-lg);
    --footer-margin: var(--tiny-space-md);
    --footer-padding: var(--tiny-space-lg);
    --footer-c-bg: rgb(var(--tiny-rgb-neutral-1));
    --footer-c-bg-dark: rgb(var(--tiny-rgb-neutral-0));
}

.tiny-modal__header {
    display: flex;
    color: var(--tiny-c-text-heading);
    font-size: var(--tiny-fs-lg);
    padding-left: var(--header-padding);
    padding-right: var(--header-padding);
    padding-top: var(--header-padding);
    align-items: center;
    position: relative;
}

.tiny-modal__header-close {
    position: absolute;
    right: var(--header-padding);
    top: var(--header-padding);
    opacity: 0.5;

    &:hover {
        opacity: 0.6;
    }
}

.tiny-modal__body {
    min-height: 100px;
    margin-top: var(--body-margin);
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);
    padding-bottom: var(--body-padding);
    display: flex;
}

.tiny-modal__footer {
    margin-top: var(--footer-margin);
    padding: var(--footer-padding);
    background: var(--footer-c-bg);
}

.dark .tiny-modal__footer {
    background: var(--footer-c-bg-dark);
}
