.tiny-combobox__trigger {
    padding-left: var(--tiny-space-sm);
    padding-right: var(--tiny-space-sm);
    border-width: 1px;
    border-style: solid;
    border-color: var(--tiny-c-border);
    border-radius: var(--tiny-radius-sm);
    transition: border-color 150ms;
    display: inline-flex;
    flex-wrap: nowrap;
    position: relative;
    align-items: flex-start;

    &[data-size="small"] {
        height: 24px;
    }
    &[data-size="medium"] {
        height: 32px;
    }
    &[data-size="large"] {
        height: 40px;
    }

    &:hover,
    &[data-open] {
        border-color: var(--tiny-c-brand-5);
    }

    input[readonly] {
        cursor: pointer;
    }

    &[data-disabled] {
        color: var(--tiny-c-text-disabled);
        background-color: var(--tiny-c-neutral-3);
        pointer-events: none;
        user-select: none;

        .tiny-combobox__suffix {
            color: var(--tiny-c-text-disabled);
        }
    }
}

.tiny-combobox__suffix {
    align-self: center;
    color: var(--tiny-c-text-label);
}

.tiny-combobox__options {
    max-height: 224px;
    overflow-y: auto;
    padding: var(--tiny-space-sm);
    scrollbar-width: thin;
    scrollbar-color: var(--tiny-c-neutral-2) transparent;
    scrollbar-gutter: auto;
    width: var(--tiny-combobox-trigger-width);
}

.tiny-combobox__option {
    padding: var(--tiny-space-xs);
    border-radius: var(--tiny-radius-sm);
    cursor: pointer;

    &[data-focused],
    &:hover {
        background-color: var(--tiny-c-neutral-2);
    }

    &[data-selected] {
        background-color: var(--tiny-c-brand-5);
        color: var(--tiny-c-white);
    }

    &[data-disabled] {
        color: var(--tiny-c-text-disabled);
        pointer-events: none;
        user-select: none;
    }

    &:focus {
        outline: none;
    }
}
