.tiny-textarea {
  --c-border: rgb(var(--tiny-rgb-neutral-3));

  padding: var(--tiny-space-sm);
  border-radius: var(--tiny-radius-sm);
  transition: border-color 0.2s;
  border: 1px solid var(--c-border);

  &:focus-within {
    --c-border: rgb(var(--tiny-rgb-brand-3));
    outline: 2px solid var(--c-border);
    outline-offset: -1px;
  }

  &[disabled] {
    pointer-events: none;
    user-select: none;
    background: rgb(var(--tiny-rgb-neutral-1));
    opacity: 0.7;
  }

  &[data-invalid] {
    --c-border: rgb(var(--tiny-rgb-danger-base));
  }

  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scrollbar-color: rgb(var(--tiny-rgb-neutral-4)) transparent;
}
