.tiny-textarea {
  padding: var(--tiny-space-sm);
  border-radius: var(--tiny-radius-sm);
  transition: border-color 0.2s;
  border: 1px solid var(--tiny-c-border);

  &:focus-within {
    border-color: var(--tiny-c-brand-5);
  }

  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scrollbar-color: var(--tiny-c-neutral-4) transparent;
}
