.tiny-combobox-vars {
  --tiny-combobox-padding: var(--tiny-space-sm);
  --tiny-combobox-c-disabled: var(--tiny-c-text-disabled);
  --tiny-combobox-c-bg-disabled: var(--tiny-c-neutral-3);
  --tiny-combobox-c-border: var(--tiny-c-border);
  --tiny-combobox-c-border-hover: var(--tiny-c-brand-5);
  --tiny-combobox-c-border-active: var(--tiny-c-brand-5);
  --tiny-combobox-border-radius: var(--tiny-radius-sm);
  --tiny-combobox-suffix-c-text: var(--tiny-c-text-label);
  --tiny-combobox-scrollbar-color: var(--tiny-c-neutral-2) transparent;
  --tiny-combobox-options-padding: var(--tiny-space-sm);
  --tiny-combobox-option-padding: var(--tiny-space-xs);
  --tiny-combobox-option-c-bg-hover: var(--tiny-c-neutral-2);
  --tiny-combobox-option-c-bg-selected: var(--tiny-c-brand-5);
  --tiny-combobox-option-c-selected: var(--tiny-c-white);
  --tiny-combobox-option-border-radius: var(--tiny-radius-sm);
  --tiny-combobox-option-c-disabled: var(--tiny-c-text-disabled);
}

.tiny-combobox__trigger {
    padding-left: var(--tiny-combobox-padding);
    padding-right: var(--tiny-combobox-padding);
    border-width: 1px;
    border-style: solid;
    border-color: var(--tiny-combobox-c-border);
    border-radius: var(--tiny-combobox-border-radius);
    transition: border-color 150ms;
    display: inline-flex;
    flex-wrap: nowrap;
    position: relative;
    align-items: flex-start;

    &[data-size="small"] {
        height: 24px;
    }
    &[data-size="medium"] {
        height: 32px;
    }
    &[data-size="large"] {
        height: 40px;
    }

    &:hover,
    &[data-open] {
        border-color: var(--tiny-combobox-c-border-hover);
    }

    input[readonly] {
        cursor: pointer;
    }

    &[data-disabled] {
        color: var(--tiny-combobox-c-disabled);
        background-color: var(--tiny-combobox-c-bg-disabled);
        pointer-events: none;
        user-select: none;

        .tiny-combobox__suffix {
            color: var(--tiny-combobox-c-disabled);
        }
    }
}

.tiny-combobox__suffix {
    align-self: center;
    color: var(--tiny-combobox-suffix-c-text);
}

.tiny-combobox__options {
    max-height: 224px;
    overflow-y: auto;
    padding: var(--tiny-combobox-options-padding);
    scrollbar-width: thin;
    scrollbar-color: var(--tiny-combobox-scrollbar-color);
    scrollbar-gutter: auto;
    width: var(--tiny-combobox-trigger-width);
}

.tiny-combobox__option {
    padding: var(--tiny-combobox-option-padding);
    border-radius: var(--tiny-combobox-option-border-radius);
    cursor: pointer;

    &[data-focused],
    &:hover {
        background-color: var(--tiny-combobox-option-c-bg-hover);
    }

    &[data-selected] {
        background-color: var(--tiny-combobox-option-c-bg-selected);
        color: var(--tiny-combobox-option-c-selected);
    }

    &[data-disabled] {
        color: var(--tiny-combobox-option-c-disabled);
        pointer-events: none;
        user-select: none;
    }

    &:focus {
        outline: none;
    }
}
